name: sheet
description: A fully customizable draggable bottom sheet.
version: 1.0.0-pre
homepage: https://github.com/jamesblasco/modal_bottom_sheet

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.9.1
   
dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.1
  lints: ^3.0.0

flutter: